html, body {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: none;
    padding: 0;
    margin: 0;
}

#home {
    padding: 10px;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: gray;
        }
       
    }
}

#hungryAniamlList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.notice {
    background-color: lightgray;
    width: 100vw;
    padding: 10px;
    a {
        padding: 10px;
        text-decoration: none;
        color: black;
        &:hover {
            color: chocolate;
        }
    }
}

.animalList {
    padding: 10px;
    width: 90%;
    @media only screen and (min-width: 768px) {
        width: 50%;
    }
}

.container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: darkblue;
    color: white;
    // border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover {
        background-color: blue;
    }
    &:disabled {
        background-color: darkgray;
        color: lightgray;
    }
}

#goBack {
    text-decoration: none;
    border: 1px solid lightgray;
    padding: 5px 10px;

    &:hover {
     color: orangered;   
    }
}
